div {
  width: 400px;
  height: 400px;
  background-color: aqua;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.red {
  background-color: red;
}

.pink,
.yellow {
  color: black;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}
